<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Reset Password-Metris</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container" style="width: 50%; padding-top: 50px;">
		<div class="row">
			<div class="col-md-12"
				style="background-color: #3b5998; height: 50px; color: #fff; text-align: center; font-size: 30px;">
				<div class="header" style="line-height: 46px;">
					<label>Metris</label>
				</div>
			</div>
		</div>
		<div class="row" style="background-color: #edf0ff; font-size: 16px;">
			<div class="col-md-12" style="padding: 50px;">
				<div class="col-md-12">
					<p>Hi <strong><span th:text="${name}"></span></strong>,</p>
					<p>We got your request to reset Metris Password.</p>
				</div>
				<div class="col-md-12" style="padding-top: 20px;">
					<a
						style="text-decoration: none; color: #fff; background-color: #337ab7; 
						border-color: #2e6da4; display: inline-block; padding: 6px 12px; 
						margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; 
						text-align: center; white-space: nowrap; vertical-align: middle; 
						-ms-touch-action: manipulation; touch-action: manipulation; 
						cursor: pointer; -webkit-user-select: none; -moz-user-select: none; 
						-ms-user-select: none; user-select: none; background-image: none; 
						border: 1px solid transparent; border-radius: 4px;"
						th:href="${link}">Reset Password</a>
				</div>
				<div class="col-md-12" style="padding-top: 20px;">
					<p>
						If clicking the button doesn't work for you, you can <a
							th:href="${link}">click here</a>.
					</p>
				</div>

				<div class="col-md-12" style="padding-top: 20px;">
					<p>If you ignore this message, your password won't be changed.</p>
				</div>
				<div class="col-md-12"
					style="border-top: 1px solid #94a0f5; padding-top: 12px;">
					<p>
						<span style="color: #993300;"> <em>If this not your
								accout, you can remove the mail from inbox.</em>
						</span>
					</p>
				</div>
			</div>
		</div>
	</div>


</body>

</html>